<div mat-dialog-title>
    <h1>User Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>User name</mat-label>
                <input matInput type="text" placeholder="User Name" formControlName="userName">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Workout Type</mat-label>
                <mat-select formControlName="workoutType" multiple>
                    <mat-option *ngFor="let val of education" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Workout Minutes</mat-label>
                <input matInput placeholder="workout minutes" formControlName="workoutMinutes">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" (click)="onFormSubmit()">Save</button>
    </div>
</form>
